<%- include('../partials/header') %>

      <div><img src='../../assets/images/slug.jpg' width='350px'></div>
	  <div>
      	<h2>Use the links above to navigate this example website that utilizes EJS for templating!</h2>
      	<p>There is a tribute page for each of my favorite guitars with a little bit of info on each.</p>
	  </div>
    </div>
    <div class="col-sm-8">

<%- include('../partials/footer') %>
