<%- include('../partials/header') %>

      <div><img src='../../assets/images/sg.jpg' width='350px'></div>
	  <div>
      	<h2>The mighty SG! AKA The Les Paul  Junior</h2>
      	<p>In 1960, Gibson Les Paul sales were significantly lower than in previous years.[citation needed] The following year, the Les Paul was given a thinner, flat-topped mahogany body, a double cutaway which made the upper frets more accessible, and a contoured body. The neck joint was moved by three frets to further ease access to the upper frets. The simpler body construction significantly reduced production costs, and the new Les Paul, with its slender neck profile and small heel was advertised as having the "fastest neck in the world". </p>
		<p>https://en.wikipedia.org/wiki/Gibson_SG</p>
	  </div>
    </div>
    <div class="col-sm-8">

<%- include('../partials/footer') %>
