<%- include('../partials/header') %>

      <div><img src='../../assets/images/stratocaster.jpg' width='350px'></div>
	  <div>
      	<h2>The most famous guitar on the planet!</h2>
      	<p>The Fender Stratocaster, colloquially known as the Strat, is a model of electric guitar designed from 1952 into 1954 by Leo Fender, Bill Carson, George Fullerton, and Freddie Tavares. The Fender Musical Instruments Corporation has continuously manufactured the Stratocaster since 1954. It is a double-cutaway guitar, with an extended top "horn" shape for balance. Along with the Gibson Les Paul, Gibson SG, and Fender Telecaster, it is one of the most-often emulated electric guitar shapes.[1][2] "Stratocaster" and "Strat" are trademark terms belonging to Fender. Guitars that duplicate the Stratocaster by other manufacturers are sometimes called S-Type or ST-type guitars.</p>
		<p>https://en.wikipedia.org/wiki/Fender_Stratocaster</p>
	  </div>
    </div>
    <div class="col-sm-8">

<%- include('../partials/footer') %>
